h1{
  color: blue;
}

#cabecera3{
  color: red;
}
body{
  background:color green;
h1{
  background-color: green;
  }
  nav {
  background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  background-color: #555;
}

